.quickLinkAddLink{
   .iconDiv{
      height: 16px;
      font-size: 13px;
      line-height: 13px;
      margin-top: 1px;    
      display: inline-block; 
      padding-right: 5px; 
   }
   .addQuickLinkDiv{
      margin-top: 5px;
      padding-left: 10px;
   }
}